input#form-btn {
    display: none; /* 非表示 */
}

input.edit-btn {
    display: none; /* 非表示 */
}

.form-box, .edit-box{
    display: none;
    opacity: 0;
}

input#form-btn:checked ~ .form-box{
    display: block;
    opacity: 0;
    animation: form-fadeIn 0.5s ease 0s forwards;
}

input.edit-btn:checked ~ div.edit-box{
    display: block;
    opacity: 0;
    animation: form-fadeIn 0.5s ease 0s forwards;
}

.progress-bar{
    animation: progress-bar-fadeIn 1s ease 0s forwards;
}

.check{
    font-size: 30px;
    box-shadow: #004000 0 10px;
    transition: all .15s ease-in-out;
    animation: button-fadeIn 0.5s ease 0s;
}

.check:active {
    box-shadow: none;
    transform: translateY(10px);
}

@keyframes form-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes button-fadeIn {
    from {
        transform: translateY(10px);
        box-shadow: #004000 0 0;
    }
    to {
        transform: translateY(0);
        box-shadow: #004000 0 10px;
    }
}

@keyframes progress-bar-fadeIn {
    from {
        width: 0;
    }
    to {

    }
}